.var-highlight {
    color: #77DCE8; }
  
  .string-highlight {
    color: #FFD866; }
  
  .property-highlight {
    color: white; }
  
  .equals-highlight {
    color: #FF6188; }
  
  #typewriter {
      width: 465px;
      margin-left: auto;
    font-size: 20px;
    margin: 0;
    color: #79848F;
    font-family: "Courier New";
    font-weight: 600; }
    #typewriter:after {
      content: "|";
      animation: blink 500ms linear infinite alternate; }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  
  @-moz-keyframes blink {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  
  @keyframes blink {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  