.Header {
    height: 100vh;
    width: 100%;
    background-color: #23272A; 
    display: block;
    color: white;
    font-family: 'Montserrat';
}

.Header_Main {
    position: relative;
    top: 45%;
    transform: translateY(-55%);
}

.Header_Main h1 {
    font-weight: 700;
    font-size: 65px;
}
.Header_Main p {
    font-weight: 200;
    font-size: 20px;
}

.Header_Main .Main_Flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Flex_Text {
    flex-basis: 45%;
    width: 100%;
}

.Flex_Typewriter {
    flex-basis: 420px;
    align-self: flex-end;
}