.Header {
  height: calc(100vh - 82px);
  width: 100%;
  background-color: #23272a;
  display: block;
  color: white;
  font-family: "Montserrat", serif;
}

.Header_Main {
  position: relative;
  top: 45%;
  transform: translateY(-55%);
}

.Header_Main h1 {
  font-weight: 700;
  font-size: 65px;
}
.Header_Main p {
  font-weight: 200;
  font-size: 20px;
}

.Header_Main .Main_Flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Flex_Text {
  flex-basis: 45%;
  width: 100%;
}

.Flex_Typewriter {
  flex-basis: 420px;
  align-self: flex-end;
}

@media screen and (max-width: 1057px) {
  .Header_Main .Main_Flex {
    width: 65%;
    display: block;
  }
  .Header_Main h1 {
    text-align: center;
    font-size: 65px;
  }

  .Header_Main p {
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .Header_Main .Main_Flex {
    display: block;
    width: 70%;
  }

  .Header_Main h1 {
    text-align: center;
    font-size: 55px;
  }

  .Header_Main p {
    text-align: center;
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .Header_Main .Main_Flex {
    display: block;
  }

  .Header_Main h1 {
    text-align: center;
    font-size: 40px;
  }

  .Header_Main p {
    text-align: center;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .Header_Main h1 {
    font-size: 35px;
  }
  .Header_Main p {
    font-size: 16px;
  }
}
