.CustomBrand {
  font-size: 36px !important;
  font-weight: 800;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.underscore {
  animation: flash 0.8s alternate infinite;
}
